
// Colors
$yellow:              #fce473;
$pink:                #c71585;
$green:               #32cd32;
$blue:                #1d90ff;
$red:                 #f4281e;
$grey-light:          #eaeaea;     
$grey-medium:         #566b78;
$grey-dark:           #333;
$black:               #20252B;

// Choosen color
$primary-color:       $blue;
$secondary-color:     $yellow;
$font-color:          $grey-medium;
$header-color:        $grey-dark;
$border-color:        $primary-color;

// Fonts
$serif:               Georgia, serif;
$sans-serif:          "Roboto", "Helvetica", "Arial", sans-serif;
$sans-serif2:         "Raleway", "Helvetica", sans-serif;
$monospace:           "Inconsolata", monospace;

// Choosen fonts
$primary-font:        $sans-serif2;
$secondary-font:      $serif;


// LAyout
$base-margin-bottom: 16px;

/* ----------------------------------   Fonts     ---------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
